<%= form_for(@torrent) do |f| %>
  <% if @torrent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@torrent.errors.count, "error") %> prohibited this torrent from being saved:</h2>

      <ul>
      <% @torrent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :nfiles %><br>
    <%= f.number_field :nfiles %>
  </div>
  <div class="field">
    <%= f.label :files %><br>
    <%= f.text_area :files %>
  </div>
  <div class="field">
    <%= f.label :seeders %><br>
    <%= f.number_field :seeders %>
  </div>
  <div class="field">
    <%= f.label :leechers %><br>
    <%= f.number_field :leechers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
